/*Import des variables mixin et media*/
@import "variable";
@import "mixin";

/*Section career*/
.career {
    @include dispo-flex(flex, column, flex-start, center);
    min-height: $height-area;

    .span-career {
        position: relative;
        top: $taille-menu-wds;
    }

    p {
        font-size: $taille-police-corps;
        width: 60%;
        text-align: center;
    }
}

#my-studies {
    @include dispo-flex(flex, column, center, center);
    margin-bottom: 20px;
    width: 80%;

    h1 {
        align-self: flex-start;
        margin-left: 20px;
    }
}

.studie-bloc {
    @include dispo-flex(flex, row, space-between, center);
    background-color: $couleur-font-section;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 15px 5px;
    width: 100%;

    .year {
        text-align: start;
        width: 20%;
        font-size: $taille-police-corps;

        br {
            display: none;
        }
    }

    .description {
        text-align: start;
        width: 80%;
        font-size: $taille-police-corps;
    }

    &:hover {
        box-shadow: 0px 0px 6px 3px #bbbbbb;
    }
}

#job-experience {
    @include dispo-flex(flex, column, center, center);
    margin-bottom: 20px;
    width: 80%;

    h1 {
        align-self: flex-start;
        margin-left: 20px;
    }
}

.exp-bloc {
    @include dispo-flex(flex, row, space-between, center);
    background-color: $couleur-font-section;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 15px 5px;
    width: 100%;

    .year {
        text-align: start;
        width: 20%;
        font-size: $taille-police-corps;

        br {
            display: none;
        }
    }

    .description {
        @include dispo-flex(flex, column, center, start);
        text-align: start;
        width: 80%;
        font-size: $taille-police-corps;

        h5 {
            font-size: $taille-police-corps+2;
            margin-bottom: 5px;
        }
    }

    &:hover {
        box-shadow: 0px 0px 6px 3px #bbbbbb;
    }
}