/*Import des variables mixin et media*/
@import "variable";
@import "mixin";

.box-signout {
    @include dispo-flex(flex, column, center, center);
    margin-bottom: 30px;
}

.logout {
    @include dispo-flex(flex, column, center, center);
    margin-bottom: 30px;

    p {
        font-size: $taille-police-corps;
    }

    #btn-signout {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #474747;
        color: $couleur-police-menu;
        font-size: $taille-police-corps;
        border: solid 3px black;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 6px 3px #bbbbbb;
        }

        &:active {
            background-color: #232323;
            box-shadow: 0px 0px 6px 3px #bbbbbb;
        }
    }

    .Err-msg {
        //display: none;
        background-color: $couleur-font-section;
        text-align: center;
        width: 150%;
    }
}