/*Déclatation des variables*/

/*Couleur*/
$gris-sombre-menu: #484848;
$couleur-police-menu: #ffffff;
$couleur-hover-police-menu: #b4b4b4;
$couleur-font-section: #F7F7F7;
$couleur-bloc-section: #ffffff;
$couleur-icone: #000000;
$couleur-texte-lien: #0081eb;

/*Taille police*/
$taille-police-menu: 26px;
$taille-police-titre: 26px;
$taille-police-soustitre: 24px;
$taille-police-corps: 20px;

/*variable global*/
$taille-menu-wds: -64px;
$taille-menu-smart: -220px;

/*hauteur des zones de la page*/
$height-area: 100vh;

/*durée d'animation*/
$slideTxtDuration: 1.5s;
$slideTxtDelay: 1s;